@model IEnumerable<Library.Database.Entities.Order>
@{
    ViewBag.Title = "Список бронирования";
}

<h2><strong>Брони</strong></h2>


<table class="table">
    @foreach (var item in Model)
    {
        <tr align="center">
            <td>@item.Book.Name </td>
            <td>@item.Book.Genre </td>
            <td>@item.Book.Author </td>
            <td>@item.Book.Publisher </td>
            <td>@item.User.Name </td>
            <td>@item.Book.BookStatus </td>
            <td>@item.DateBooking</td>
            @if(item.Book.BookStatus == Library.Database.Enums.BookStatus.Booked)
            {
                <td>
                    <form asp-action="Pass" asp-route-id="@item.OrderId" method="post">
                        <button type="submit" class="btn btn-primary">
                            Отдать
                        </button>
                    </form>
                </td>
            }
            @if(item.Book.BookStatus == Library.Database.Enums.BookStatus.Passed)
            {
                <td>
                    <form asp-action="Return" asp-route-id="@item.OrderId" method="post">
                        <button type="submit" class="btn btn-primary">
                            Вернуть
                        </button>
                    </form>
                </td>
            }
        </tr>
    }
</table>
