@model IEnumerable<Library.Database.Entities.Order>
@{
    ViewBag.Title = "Список бронирования";
}

<h2><strong>Брони</strong></h2>

<table class="table">
    <thead>
        <tr bgcolor="#D3D3D3">
            <td><strong>Название</strong></td>
            <td><strong>Жанр</strong></td>
            <td><strong>Автор</strong></td>
            <td><strong>Издательство</strong></td>
            <td><strong>Имя</strong></td>
            <td><strong>Статус</strong></td>
            <td><strong>Автоматическое снятие бронирования</strong></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateBooking)
                </td>
                @if (item.Book.BookStatus == Library.Database.Enums.BookStatus.Booked)
                {
                    <td>
                        <form asp-action="Pass" asp-route-id="@item.OrderId" method="post">
                            <button type="submit" class="btn btn-primary">
                                Отдать
                            </button>
                        </form>
                    </td>
                }
                @if (item.Book.BookStatus == Library.Database.Enums.BookStatus.Passed)
                {
                    <td>
                        <form asp-action="Return" asp-route-id="@item.OrderId" method="post">
                            <button type="submit" class="btn btn-primary">
                                Вернуть
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
