@model IEnumerable<Library.Database.Entities.Order>
@{
    ViewBag.Title = "Список бронирования";
}

<h2><strong>Брони</strong></h2>


<table class="table">
    <tr bgcolor="#D3D3D3" align="center">
        <td><strong>Название</strong></td>
        <td><strong>Жанр</strong></td>
        <td><strong>Автор</strong></td>
        <td><strong>Издательство</strong></td>
        <td><strong>Статус</strong></td>
        <td><strong>Дата автоматического снятия книги с бронирования</strong></td>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr align="center">
            <td>@item.Book.Name </td>
            <td>@item.Book.Genre </td>
            <td>@item.Book.Author </td>
            <td>@item.Book.Publisher </td>
            <td>@item.Book.BookStatus </td>
            <td>@item.DateBooking</td>
            @if (item.Book.BookStatus == Library.Database.Enums.BookStatus.Booked)
            {
                <td>
                    <form asp-action="Delete" asp-route-id="@item.OrderId" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Удалить
                        </button>
                    </form>
                </td>
            }
        </tr>
    }
</table>

