@using BusinessLayer.Models.BookDTO;
@model BookViewModel
@{
    ViewBag.Title = Model.Name;
}

<h2> @Model.Name</h2>

@if (User.IsInRole("Библиотекарь"))
{
    <a asp-action="Edit" asp-controller="Books" asp-route-id="@Model.Id"> Изменить </a>
    <a asp-action="Delete" asp-controller="Books" asp-route-id="@Model.Id"> Удалить </a>
}

<div>
    <img width="300" height="500" src="@Model.ImgPath" />

    <dl class="dl-horizontal">
        <dd>
            @if (User.IsInRole("Клиент") && Model.BookStatus == DataLayer.Enums.BookStatus.Available)
            {
                <a asp-action="Booking" asp-controller="Orders" asp-route-id="@Model.Id"> Забронировать</a>
            }
        </dd>

        <dt>Название книги</dt>
        <dd>@Html.DisplayFor(modelItem => Model.Name)</dd>

        <dt>Жанр</dt>
        <dd>@Html.DisplayFor(modelItem => Model.Genre)</dd>

        <dt>Автор</dt>
        <dd>@Html.DisplayFor(modelItem => Model.Author)</dd>

        <dt>Издательство</dt>
        <dd>@Html.DisplayFor(modelItem => Model.Publisher)</dd>

        <dt>Описание</dt>
        <dd>@Html.DisplayFor(modelItem => Model.Description)</dd>

        <dt>Статус</dt>
        <dd>@Html.DisplayFor(modelItem => Model.BookStatus)</dd>

        <dd><a asp-action="Index" asp-controller="Books"> Список книг</a></dd>
    </dl>
</div>