@using BusinessLayer.Models.BookDTO;
@model BookSearchViewModel
@{
    ViewBag.Title = "Список книг";
}

<h2><strong>Книги</strong></h2>

@if (this.User.IsInRole("Библиотекарь"))
{
    <form asp-controller="Books" asp-action="Create">
        <input type="submit" value="Добавить книгу" />
    </form>
}

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">Жанр (все)</option>
        </select>

        <select asp-for="BookAuthor" asp-items="Model.Authors">
            <option value="">Автор (все)</option>
        </select>

        <select asp-for="BookPublisher" asp-items="Model.Publisher">
            <option value="">Издательство (все)</option>
        </select>

        Название: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Найти" />
    </p>
</form>

<table class="table">
    <thead>
        <tr bgcolor="#D3D3D3">
            <td><strong>Название</strong></td>
            <td><strong>Жанр</strong></td>
            <td><strong>Автор</strong></td>
            <td><strong>Издательство</strong></td>
            <td><strong>Доступность</strong></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookStatus)
                </td>

                @if (this.User.IsInRole("Библиотекарь"))
                {
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                            <button type="submit" class="btn btn-sm btn-danger">
                                Удалить
                            </button>
                        </form>
                    </td>
                }

                @if (this.User.IsInRole("Клиент"))
                {
                    @if (item.BookStatus == DataLayer.Enums.BookStatus.Available)
                    {
                        <td>
                            <form method="get" asp-route-id="@item.Id" asp-controller="Orders" asp-action="Booking">
                                <input type="submit" value="Забронировать" />
                            </form>
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>